body {
  font-family: Arial;
  padding: 20px;
}

form,
table {
  width: 100%;
  margin-bottom: 30px;
}

input,
button {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

img {
  width: 60px;
}

.btn {
  padding: 6px 12px;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar */
.admin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2933;
  padding: 12px 25px;
  margin-bottom: 30px;
}

/* Logo */
.logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-size: 14px;
}

.nav-links a:hover {
  background-color: #374151;
  border-radius: 4px;
}

/* Dropdown */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  background-color: #111827;
  min-width: 180px;
  border-radius: 4px;
  overflow: hidden;
}

.dropdown-menu li a {
  padding: 10px 15px;
  font-size: 13px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Logout */
.logout {
  color: #ff4d4d !important;
  font-weight: bold;
}

.logout:hover {
  background-color: #ff4d4d !important;
  color: #fff !important;
}
