body {
  background: #f5f5f7;
  display: flex;
  height: 100vh;
}

/* Container */
.checkout-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  width: 50vw;
}

/* Heading */
.checkout-container h2 {
  color: #e35d5b;
  margin-bottom: 20px;
}

/* Form */
.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: fadeIn 0.7s ease-in-out;
}

/* Inputs */
.checkout-form input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

/* Focus effect */
.checkout-form input:focus {
  border-color: #e35d5b;
  box-shadow: 0 0 5px rgba(227, 93, 91, 0.3);
}

/* Button */
.checkout-form button {
  background: #e35d5b;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover */
.checkout-form button:hover {
  background: #d94b48;
  transform: translateY(-2px);
}

/* Active click */
.checkout-form button:active {
  transform: scale(0.98);
}
.checkout_img {
  width: 100%;
  height: 100%;
  background: url("../../images/bgimage.webp");
  background-position: 50% 17%;
}
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }
  .checkout-container {
    width: 100%;
  }
  .checkout_img {
    height: 30vh;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
