* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
:root {
  --primary: #e24a6b;
  --secondary: #4a90e2;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  height: 10vh;
  color: #df5555;
}
h1 {
  font-family: "French Script MT";
}
ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
a {
  text-decoration: none;
  color: #df5555;
}
h1:hover,
a:hover {
  color: rgb(121, 121, 121);
}
h1,
#icons {
  cursor: pointer;
}

.hero {
  background-image: url(../../images/bgimage.png);
  height: 654px;
  background-position: 74% 22%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.hero-text {
  width: 500px;
}
.hero-text h2 {
  font-size: 60px;
}
.btn {
  background: #ffe3e9;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
  transition: ease-in-out 0.3s;
}
.btn:hover {
  background-color: #df5555;
  box-shadow: 2px 2px 10px #ddd;
  color: #fff;
}
.latest {
  background-color: #df5555;
  text-align: center;
}
.latest h1 {
  color: white;
  font-size: 90px;
}
.productList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.productList img {
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.product {
  width: 250px;
  border-radius: 15px;
  border: 2px solid #fc686899;
  margin: 10px;
}
.product img {
  width: 250px;
  object-fit: contain;
  border-radius: 15px 15px 0 0;
  padding: 5px;
}
h2,
p {
  color: white;
}
.prdctHeading {
  background-color: #df5555;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}
.prdctHeading button {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  width: 100%;
}
/* .prdctHeading:hover {
  background-color: #fc686899;
} */
.price {
  display: flex;
  justify-content: space-between;
}
h3 {
  color: white;
}
h3 span {
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}
.productTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.productTitle h2 {
  text-transform: capitalize;
}
/* footer section */
.footer {
  margin-top: 60px;
  background: #df5555c6;
  padding: 50px 20px 20px;
  color: #fff;
}

.footer-container {
  margin: auto;
  padding: 0 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.footer-box h2,
.footer-box h3 {
  margin-bottom: 15px;
}

.brand-name {
  font-size: 48px;
  font-weight: bold;
  font-family: "French Script MT";
}

.footer-box p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-box ul {
  list-style: none;
  padding: 0;
  display: block;
}

.footer-box ul li {
  margin-bottom: 8px;
}

.footer-box ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-box ul li a:hover {
  color: #781b1b;
}

/* Newsletter */
.newsletter {
  display: flex;
  margin-top: 10px;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  outline: none;
}

.newsletter button {
  padding: 10px 18px;
  border: 1px solid #fff;
  background: #df5555;
  color: #fff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background 0.3s;
}

.newsletter button:hover {
  background: #b82c6f;
}

/* Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
  font-size: 14px;
}
