/* Reset & base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  background-color: #f6f8fb;
  padding: 30px;
  color: #333;
}

/* Page heading */
h2 {
  font-size: 28px;
  margin-bottom: 15px;
}
.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.products-header h2 {
  color: #333;
}
.products-header a {
  padding: 15px;
  background: white;
  text-decoration: none;
  color: #df5555;
  box-shadow: 3px 5px 10px #0000006b;
  border-radius: 10px;
}
/* Cart link */
.cart-link {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: 600;
  color: #2563eb;
}

.cart-link:hover {
  text-decoration: underline;
}

/* Product grid */
.products-container {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

/* Product card */
.product-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 3px 5px 10px #0000006b;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.1);
}

/* Product name */
.product-card h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

/* Description */
.product-card p {
  font-size: 14px;
  /* color: #666; */
  margin-bottom: 12px;
  line-height: 1.5;
}

/* Price */
.product-price {
  font-size: 18px;
  font-weight: 700;
  color: #16a34a;
  display: block;
  margin-bottom: 14px;
}

/* Button */
.product-card button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: white;
  color: #df5555;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.product-card button:hover {
  background: #fc8c8c;
}
/* Product image */
.img-div {
  padding: 10px;
}
.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover; /* prevents image distortion */
  border-radius: 10px;
  margin-bottom: 12px;
  background-color: #f1f1f1;
}
/* .product-card a {
  background: #f1f1f1;
  padding: 10px;
} */
